*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #333333;
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.box{
    padding-bottom: 2rem;
    border-radius: 10px;
    background: #444444;
    color: white;
    margin-top: 1rem;
}
header{
    text-align: center;
    margin-top: 1rem;
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 1rem;
    color: darkturquoise;
}
input{
    width: 90%;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid black;
    border-radius: 10px;
}
main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
p{
    font-size: x-large;
    font-weight: bold;
    width: 90%;
    text-align: center;
    margin-top: 1rem;
}
#calculate{
    margin-left: 1rem;
    background: #2cc633;
    
}
#reset{
    background-color: #1e94f4;
}
button{
    width: 43%;
    height: 3.5rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
    font-size: larger;
    font-size: large;
    color: white;
    border: none;
    outline: 0;
}
